.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color_primary;
    height: 85px;
    width: 100%;
    opacity: 80%;
    margin-bottom: 100px;
    
    &_logoDesktop {
        height: 15rem;
        margin-left: 2rem;
    }
    &_logoMobile {
        display: none;
    }
    &_nav {
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        width: 200px;
        &-li{
            list-style: none;
            color: white;
           & a {
            list-style: none;
            color: white;
           }
        }
    }
}

@media (max-width: 600px) {
    .banner {
        &_logoDesktop {
            display: none;
        }
        &_logoMobile {
            display: initial;
            height: 2.4rem;
            margin-left: 2rem;
        }
    }
}


